.price-box{
    background-color: #DFF6FF;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.safe-box{
    background-color: #DFF6FF;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.share-box{
    padding: 25px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 15px;
    margin-bottom: 20px;
}
.div {
    width   : 50%; 
    position: relative;
    padding-bottom: 10px;
}

.div::before {
    content : "";
    position: absolute;
    left    : 30;
    bottom  : 0;
    width   : 25%;
    border-bottom: 2px solid rgb(62, 255, 245);
}